html {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: black;
	height: 100%;
	cursor: crosshair;
	overflow: hidden;
}

body {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	background-color: #E6E6F0;
/*	background: url("../images/graphy.png");
	background-repeat: repeat;*/
}

#canvasDiv {
	height: 100vh;
	/*border: 15px dashed hotpink;*/
	/*position: fixed;
	bottom: 0;*/
}

#magnet-share {
	position: fixed;
	right: 75px;
	top: 20px;
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

#magnet-info {
	position: fixed;
	right: 20px;
	top: 100px;
	-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
}

#markers {
	position: absolute;
	bottom: 0;
	left: 0;
}

#markers ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-collapse: collapse;
}

#markers li {
	display: table-cell;
	margin: 0;
	padding: 3px;
}

#markers a , #eraser a, #magnets a {
	opacity: 1.0;
	margin: 0;
	padding: 0;	
}

#markers a:hover, #eraser a:hover, #magnets a:hover, input:hover {
	opacity: 0.75;
}

#markers a:active, #eraser a:active, #magnets a:active, input:active {
	opacity: 0.5;
}

#markers a:focus, #eraser a:focus, #magnets a:focus, input:focus {
	/*opacity: 0.75;*/
}

#eraser {
	position: fixed;
	padding-bottom: 4px;
	padding-right: 10px;
	bottom: 0;
	right: 0;
}

/*******************************************************/

/*
 * Reference: https://css-tricks.com/body-border/
 */
#top, #bottom, #left, #right {
	background: #6D7482;
	position: fixed;
}
#left, #right {
	top: 0;
	bottom: 0;
	width: 10px;
}
#left {	left: 0; }
#right { right: 0; }
#top, #bottom {
	left: 0;
	right: 0;
	height: 10px;
}
#top { top: 0; }
#bottom { bottom: 0; }
@media
only screen and (max-width: 500px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
{ #top, #bottom, #left, #right { display: none; } }

/*******************************************************/

#pulldownTab {
	color: #DEDEDE;
	background-color: black;
	width: 100px;
	height: 20px;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px gray;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#dropdownWindow {
	padding: 15px;
	background-color: #D5DBEB;
	border: 2px solid black;
	display: none;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	height: 80%;
}

#dropdownWindow h2 {
	margin-bottom: 0;
}

#dropdownWindow p {
	margin: 8px;
}

.ui-dialog-titlebar-close {
	visibility: hidden;
}

.ui-widget-overlay {
  opacity: 0.9;
  filter: Alpha(Opacity=90);
  /*background-color: black;*/
}

/*******************************************************/

#about {
	text-align: center;
	cursor: auto;
}

h1 {
	margin-bottom: 0;
}

h3 {
	margin: 0;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: white;
}

a:focus, button:focus, img:focus, input:focus {
	outline: 0;
}